html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
    color: white;
}

.container {
    height: auto;
    margin: 0 auto 0;
}

#top {
    height: 40em;
    background: url("img/DSC_0137_v2.jpg") center center;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-content {
    width: 80%;
    background-color: rgba(125, 125, 125, 0.5);
    border: 1px solid white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.button {
    background-color: rgb(255, 42, 19);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    padding: 18px 27px;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-line: none;
    color: white;
}

.top-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.name {
    font-size: 144px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin: -20px 0 0 0;
}

.tagline {
    font-size: 40px;
    font-weight: 400;
    margin: -20px 0 0 0;
}

#work {
    background-color: #eacd50;
}

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-4 {
    width: 30%;
}

.col-6 {
    width: 50%;
}

#work img {
    width: 100%;
    height: auto;
}

.section-head {
    margin: 0;
    font-size: 56px;
    font-weight: 400;
}

.section-text {
    padding: 20px;
}

.col-head {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}

.col p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
}

#what-i-do {
    background-color: #64c4e5;
}

.what-i-do-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.section-image {
    padding: 20px;
}

.section-image img {
    width: 100%;
    height: auto;
}

.callout {
    background-color: #1083da;
    width: 80%;
    height: auto;
}

.callout-content {
    padding: 20px;
}

.callout-head {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}

#about {
    background-color: #eacd50;
}

#about img {
    height: 100%;
    width: auto;
}

.about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 500px){
    /*.banner {*/
    /*    height: 50%;*/
    /*}*/
    /*#name h1 {*/
    /*    font-size: 48px;*/
    /*}*/

    /*#name h2 {*/
    /*    font-size: 24px;*/
    /*}*/
    /*.project-title {*/
    /*    font-size: 18px;*/
    /*}*/
    /*.project-text {*/
    /*    order: 1;*/
    /*    width: 100%;*/
    /*}*/
    /*.project-image {*/
    /*    order: 2;*/
    /*    width: 100%;*/
    /*}*/
    /*.project-link a {*/
    /*    font-size: 12px;*/
    /*}*/
    /*.project-description {*/
    /*    font-size: 12px;*/
    /*    line-height: 18px;*/
    /*}*/
    /*#projects-header > h2 {*/
    /*    font-size: 24px;*/
    /*}*/
}

@media screen and (min-width: 501px) and (max-width: 600px){
    /*.banner {*/
    /*    height: 70%;*/
    /*}*/
    /*#name h1 {*/
    /*    font-size: 60px;*/
    /*}*/

    /*#name h2 {*/
    /*    font-size: 32px;*/
    /*}*/
    /*.project-title {*/
    /*    font-size: 18px;*/
    /*}*/
    /*.project-text {*/
    /*    order: 1;*/
    /*    width: 100%;*/
    /*}*/
    /*.project-image {*/
    /*    order: 2;*/
    /*    width: 100%;*/
    /*}*/
    /*.project-link a {*/
    /*    font-size: 12px;*/
    /*}*/
    /*.project-description {*/
    /*    font-size: 12px;*/
    /*    line-height: 18px;*/
    /*}*/
    /*#projects-header > h2 {*/
    /*    font-size: 32px;*/
    /*}*/
}

@media screen and (min-width: 601px) and (max-width: 1100px){
    /*.banner {*/
    /*    height: 70%;*/
    /*}*/
    /*#name h1 {*/
    /*    font-size: 60px;*/
    /*}*/

    /*#name h2 {*/
    /*    font-size: 32px;*/
    /*}*/
    /*.project-title {*/
    /*    font-size: 22px;*/
    /*}*/
    /*.project-text {*/
    /*    width: 50%;*/
    /*}*/
    /*.project-image {*/
    /*    width: 50%;*/
    /*}*/
    /*.project-link a {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.project-description {*/
    /*    font-size: 14px;*/
    /*    line-height: 20px;*/
    /*}*/
    /*#projects-header > h2 {*/
    /*    font-size: 32px;*/
    /*}*/
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
    /*#name h1 {*/
    /*    font-size: 72px;*/
    /*}*/
    /*#name h2 {*/
    /*    font-size: 40px;*/
    /*}*/
    /*.project-title {*/
    /*    font-size: 30px;*/
    /*}*/
    /*.project-link a {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.project-description {*/
    /*    font-size: 16px;*/
    /*    line-height: 22px;*/
    /*}*/
    /*#projects-header > h2 {*/
    /*    font-size: 40px;*/
    /*}*/
}

@media screen and (min-width: 1401px) {
    .container {
        max-width: 1400px;
    }
}